@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

// Custom css

// header
// .header-line
	// height: 108px
	// position: fixed
	// top: 0
	// left: 0
	// right: 0
	// text-align: center
	// z-index: 3
.header-line
	.col-md-2
		padding: 10px 0px 0px 25px
		img
			border: 2px solid rgba(177, 177, 183, 0.7490196078431373)
			padding: 2px


.bg-wrapper
	background: url(../img/wrapper-bg.jpg) no-repeat
	height: 700px
	box-shadow: 0 4px 11px 0 rgba(0,0,0,.15)
	background-size: cover
.text-section1
	padding-top: 100px
	color: #fff
	letter-spacing: 2px
	text-shadow: 2px 2px #333333
	text-transform: uppercase
	.col-md-12
		h1
			font-size: 34px
			padding-bottom: 20px
	.col-md-4
		text-transform: none
		font-size: 18px
		border-left: 4px solid #ffc700

.text-wrapper-section1
	background-color: rgba(51, 51, 51, 0.45)
	border-radius: 6px
	padding: 20px
	margin-left: 15px !important
	margin-right: 15px !important

.first-last
	font-size: 19px
	text-transform: none
	margin-top: 50px
	text-align: center

.nav-menu
	ul
		li
			display: inline-block
			margin-left: 35px
			margin-top: 50px
			a
				font-weight: 600
				color: #333
				text-decoration: none
				font-size: 16px
				&:hover
					padding-bottom: 5px
					border-bottom: 4px solid #d4a601
					opacity: 0.7
// section-2
.section-2
	margin-bottom: 100px
	.col-md-2
		h3
			padding-top: 20px
			font-size: 16px
			font-weight: 700
			padding-bottom: 10px
	h2
		margin-bottom: 20px
		font-size: 25px
		margin-top: 70px
.wrapper-price1,
.wrapper-price2,
.wrapper-price3,
.wrapper-price4,
.wrapper-price5
	position: relative
	height: 150px
	background-position: center !important
	margin: 0 auto
	max-width: 300px
	&:hover .item-bg
		display: block
	.item-bg
		position: absolute
		left: 0
		bottom: 0
		right: 0
		top: 0
		background: rgba(255,255,255, 0.7)
		padding: 5px
		display: none
		text-align: center
		font-weight: 700
		.btn-price
			margin-top: 50px
			display: block
			font-size: 15px

.form-control
	font-size: 16px !important
.wrapper-price1
	background: url(../img/semena.jpg) no-repeat
	background-size: cover
.wrapper-price2
	background: url(../img/Azotnye-udobreniia.jpg) no-repeat
	background-size: cover
.wrapper-price3
	background: url(../img/diesel.jpg) no-repeat
	background-size: cover
.wrapper-price4
	background: url(../img/vsp-100.jpg) no-repeat
	background-size: contain
	border: 1px solid rgba(128, 128, 128, 0.14)
.wrapper-price5
	background: url(../img/agrospravka.jpg) no-repeat
	background-size: contain
.dropdown
	margin-top: 20px
	.btn-secondary
		font-size: 15px
	.dropdown-item
		font-size: 14px
.section-3
	margin-top: 100px
	padding-bottom: 50px
	.btn-secondary
		font-size: 16px
	.col-md-3
		background-color: #ffffff
		border-radius: 5px
		height: 350px
		z-index: 2
		margin-top: 100px
		padding-top: 30px
		max-width: 320px
		p
			font-size: 14px
	h3
		font-size: 25px
	
.section-5
	background-color: #333

#four
	h2
		margin-top: 110px
		font-size: 25px
	.container
		margin-top: 50px
		margin-bottom: 80px
		.col-md-3
			img
				border: 1px solid rgba(128, 128, 128, 0.19)
				margin-top: 20px
// #googlemaps
// 	height: 550px
// 	width: 100%
// 	overflow: hidden
// 	position: absolute
// 	top: 1280px
// 	left: 0
// 	z-index: 2
.section-5
	.contacts
		padding-top: 100px
		font-size: 18px
		span
			color: #fff
		.fa-map-marker-alt,
		.fa-phone-square,
		.fa-envelope
			color: #D4A601
			margin-right: 5px
	.copyright
		color: #ffffff
		text-align: center
		margin-top: 100px
		padding-bottom: 20px
		font-size: 14px

.form-group,
.has-success,
.has-feedback
	max-width: 320px


// menu mobile
.mobile-menu
	display: none
	position: fixed
	background: rgba(255, 255, 255, 0.7098039215686275)
	z-index: 4
	width: 100%
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
	.col-xs-9
		padding: 10px
		img
			border: 2px solid rgba(177, 177, 183, 0.7490196078431373)
			padding: 5px
			width: 100px
	.col-xs-2
		h3
			text-align: center
			font-size: 22px
			padding: 5px
			border: 1px solid rgba(128, 128, 128, 0.15)
			margin-bottom: 20px
			margin-top: -30px

#menuToggle
	display: block
	position: relative
	left: 0px
	z-index: 1
	-webkit-user-select: none
	user-select: none
	top: 50px
	input
		display: block
		width: 40px
		height: 32px
		position: absolute
		top: -7px
		cursor: pointer
		opacity: 0
		z-index: 2
		-webkit-touch-callout: none
	span
		display: block
		width: 33px
		height: 2px
		margin-bottom: 7px
		position: relative
		background: black
		border-radius: 3px
		z-index: 1
		transform-origin: 4px 0px
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease
		&:first-child
			transform-origin: 0% 0%
		&:nth-last-child(2)
			transform-origin: 0% 100%
	input:checked ~ span
		opacity: 1
		transform: rotate(45deg) translate(-2px, -1px)
		background: #232323


#menu
	position: fixed
	min-width: 328px
	width: 100%
	margin: -128px 0px 0 -215px
	padding-left: 24px
	padding-top: 125px
	padding-right: 135px
	background-color: #fff
	list-style-type: none
	-webkit-font-smoothing: antialiased
	transform-origin: 0% 0%
	transform: translate(100%, 0)
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1)
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
	min-height: 800px
	.style14
		border: 0
		height: 1px
		background-image: -webkit-linear-gradient(left,#f0f0f0,#5d5d5d,#f0f0f0)
		background-image: -ms-linear-gradient(left,#f0f0f0,#8c8b8b,#f0f0f0)
		background-image: -o-linear-gradient(left,#f0f0f0,#8c8b8b,#f0f0f0)
		margin-bottom: 15px
		margin-top: 15px
	li
		padding-top: 5px
		border-bottom: 2px solid #fffefebf
		padding-bottom: 10px
		text-transform: uppercase
		a
			color: #333
			font-weight: 600
			padding-left: 8px
			text-decoration: none
			text-transform: initial
			font-size: 16px
		a:before
			font-family: FontAwesome
			margin-right: 15px
			font-size: 16px
			color: #5cb85c
		&:nth-child(2)
			a:before
				content: "\f02d"
		&:nth-child(3)
			a:before
				content: "\f1d8"
		&:nth-child(4)
			a:before
				content: "\f0c0"
		&:nth-child(5)
			a:before
				content: "\f022"
	.sub-menu
		padding: 0px
		li
			list-style: none
			padding: 30 0 0 0
			a
			a:before
				content: "\f098"
				font-family: FontAwesome
				margin-right: 15px
				font-size: 16px
				color: #5cb85c

#menuToggle input:checked ~
	span
		&:nth-last-child(3)
			opacity: 0
			transform: rotate(0deg) scale(0.2, 0.2)
		&:nth-last-child(2)
			opacity: 1
			transform: rotate(-45deg) translate(0, -1px)
	ul
		transform: scale(1, 1)
		opacity: 1

// back-to-top
#back-top
	position: fixed
	bottom: 23px
	right: 24px
	z-index: 2
	display: none
	a
		position: relative
		width: 50px
		height: 50px
		background-color: #1e9dd9
		border-radius: 100%
		display: block
		font-size: 50px
		color: #fff
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.36)
		transition: all .25s ease
		opacity: 0.5
		&:hover
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.56)
			text-decoration: none
			opacity: 1
		&:focus
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.56)
			text-decoration: none
			opacity: 1
	.fa-angle-up
		position: absolute
		font-size: 30px
		margin-top: -15px
		margin-left: -9px
		left: 50%
		top: 50%

//Goole map 2
#map
	height: 550px
	width: 100%
	background: grey
	margin-top: -500px
@import "media" // Всегда в конце
